<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE config[
<!ENTITY nbsp "&#xA0;"> 
<!ENTITY author "Walter Otsyula <wotsyula@mast3rpee.tk>"> 
<!ENTITY copywrite "Copyright (c) 2013-2018, mAsT3RpEE's Zone"> 
]>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noSchemaLocation="http://schema.phpunit.de/3.8/phpunit.xsd"
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="./tests/bootstrap.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        printerClass="PHPUnit_TextUI_ResultPrinter"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        strict="false"
        verbose="false">
    <php>
        <ini name="memory_limit" value="190M" />
    </php>
    <testsuites>
        <testsuite name="All Tests">
            <directory>./tests/</directory>
        </testsuite>
        <testsuite name="Types">
            <directory suffix=".php">./tests/Type/</directory>
        </testsuite>
        <testsuite name="Models">
            <directory suffix=".php">./tests/Model/</directory>
        </testsuite>
    </testsuites>
</phpunit>